.formulario {
    display: flex;
    flex-direction: column;
    text-align: center; 
    background-color: rgb(0, 0, 0); 
    color: white; 
    font-size: 20px;
}

.form2 {
    text-align: center;
    padding: 50px 0;
}