@media (max-width: 800px){
    .seccion1 p {
        width: 100%;
    }
    .seccion2 {
        padding: 0;
    }
    .seccion2B {
        flex-direction: column;
    }
    .grilla3 {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .nav {
        flex-direction: column;
    }
    .descripcion {
        width: 100%;
    }
}


@media (max-width: 550px){ 
    .seccion1 h1 {
        font-size: 2.5em;
        padding-left: 0;
        text-align: center;
    }
    .seccion1 p {
        padding-left: 0;
        text-align: center;
    }
    .footer ul {
        flex-direction: column;
        justify-content: center;
    }
}