.seccion1-ncontainer {
    display: flex;
    margin: 0 auto;
    background: url("../assets/not-1.jpg") no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}

.seccion1-not {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h1 {
        font-size: 5rem;
        font-family: 'Roboto';
        color: rgb(255, 255, 255);
        border-bottom: 3px solid rgb(19, 255, 31);
    }
    p {
        font-size: 1.5rem;
        color: blanchedalmond;
        padding: 30px 0;
    }
}

.seccion-noticias {
    margin: 60px 0;
    h3 {
        font-size: 2rem;
        color: tomato;
        margin: 30px 0;
    }
    p {
        font-size: 1.1rem;
        margin: 30px 0;
    }
    .btn1 {
        font-size: 1.2rem;
        font-family: 'Kanit';
        color: white;
        padding: 12px;
        margin-bottom: 50px;
        border: 1px solid rgb(252, 252, 252);
        border-radius: 2px;
        background-color: rgb(67, 39, 194);
        transition: 1s;
        &:hover {
            background-color: tomato;
            transition: transform .2s;
            transform: scale(1.1);
        }
    }
}