body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Kanit';
}

h2 {
  list-style: none;
  font-size: 1.5rem;
  color: tomato;
  font-family: 'Kanit', sans-serif;
  margin: 0 30px;
}

h2 span {
  color: #8d9aff;
  font-family: 'Roboto';
}

.navbar {
  background: black;
}

.navbar-toggler {
  font-size: 30px;
  color: white;
}

.nav-link {
  color: white;
  font-size: 1.3rem;
  margin-right: 30px;
  font-weight: bold;
}

.nav-link:hover {
  color: #2bff00;
}

.nav-link:focus {
  color: red;
}

.active {
  color: #6ef353;
}

.seccion1 {
  background: url("../assets/hero1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: 1s;
  transition: 1s;
  overflow: auto;
}

.seccion1:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.seccion1 h1 {
  color: white;
  font-size: 4.5em;
  text-align: left;
  padding: 50px 0;
  padding-left: 50px;
  text-shadow: 2px 1px 1px black;
}

.seccion1 p {
  color: white;
  text-align: left;
  font-size: 1.2rem;
  font-family: 'Roboto';
  font-weight: bold;
  padding-left: 50px;
  padding-bottom: 50px;
  text-shadow: 2px 1px 1px black;
}

.seccion2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 70px;
  background-color: white;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(30%, #f0f9ff), color-stop(70%, #baddff), color-stop(96%, #27298a), to(black));
  background: linear-gradient(0deg, white 0%, #f0f9ff 30%, #baddff 70%, #27298a 96%, black 100%);
}

.seccion2 p {
  padding: 0 30px 20px;
}

.seccion2 .seccion2Bp {
  -webkit-box-shadow: 0px 0px 10px #c1bde9;
          box-shadow: 0px 0px 10px #c1bde9;
  font-size: 1.1rem;
  padding: 30px 0;
}

.seccion2 h2 {
  color: white;
  text-shadow: 0 10px 20px black;
  font-size: 3.5rem;
  margin: 60px 0 30px;
  text-align: center;
}

.seccion2 h4 {
  font-size: 2rem;
  color: tomato;
}

.seccion2 .btn {
  font-size: 1.2rem;
  font-family: 'Kanit';
  color: white;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #fcfcfc;
  border-radius: 5px;
  background-color: #5cff47;
  -webkit-transition: 1s;
  transition: 1s;
}

.seccion2 .btn:hover {
  background-color: red;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bx1 {
  background-color: rgba(0, 0, 0, 0.8);
}

.seccion3 {
  padding: 50px 0 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}

.grilla3 {
  background-color: #292828;
  color: white;
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  height: auto;
  padding: 30px 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 50px 50px;
}

.o1, .o2, .o3 {
  padding: 0 20px;
  border-left: 2px solid red;
  border-right: 2px solid #a4d1a4;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0c030c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  margin-top: 50px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 5rem;
  padding: 20px 0;
}

.footer li {
  color: #87ff7c;
  font-size: 1.2rem;
  font-weight: bold;
}

.icono {
  font-size: 50px;
}

.icono:hover {
  color: #5e32ff;
}

@media (max-width: 800px) {
  .seccion1 p {
    width: 100%;
  }
  .seccion2 {
    padding: 0;
  }
  .seccion2B {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grilla3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .descripcion {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .seccion1 h1 {
    font-size: 2.5em;
    padding-left: 0;
    text-align: center;
  }
  .seccion1 p {
    padding-left: 0;
    text-align: center;
  }
  .footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.body-sony {
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(30%, #f0f9ff), color-stop(70%, #f4f6f7), color-stop(100%, #3c48f0), to(#fcf9f9));
  background: linear-gradient(0deg, white 0%, #f0f9ff 30%, #f4f6f7 70%, #3c48f0 100%, #fcf9f9 100%);
}

.seccion1-sony {
  text-align: center;
  background-color: black;
  padding-bottom: 30px;
}

.seccion1-sony img {
  width: auto;
  height: 200px;
}

.seccion1-sony p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  padding: 0 50px;
}

.seccion2-sony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  padding: 50px 0;
  border-bottom: #adadad solid 2px;
}

.seccion2-sony h1 {
  font-size: 3rem;
  padding-bottom: 20px;
  color: tomato;
}

h2 {
  font-size: 2.1rem;
  text-align: center;
  margin: 20px 0;
  color: tomato;
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 70%;
  background-color: white;
  margin: 30px auto;
  grid-gap: 3px;
  -ms-grid-columns: 0.7fr 0.7fr 1fr;
      grid-template-columns: 0.7fr 0.7fr 1fr;
  text-align: center;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
}

.grid img {
  width: 100%;
  height: 100%;
}

.box {
  border: #424242 1px dotted;
  font-size: 1.6rem;
}

.box3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 3;
  grid-column: 3 / 3;
}

.seccion3-sony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  font-size: 1rem;
}

.seccion3-sony img {
  height: 200px;
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  width: 50%;
}

.cont__card {
  margin: 50px 0;
  text-align: center;
}

.cont__card .card {
  margin: 30px 0;
}

.cont__card h5 {
  border-left: 3px solid blue;
  border-right: 3px solid blue;
}

.cont__card .btn {
  text-transform: uppercase;
  color: black;
  background-color: #80ff60;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px;
}

.cont__card .btn:hover {
  background-color: tomato;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 800px) {
  .descripcion {
    width: 100%;
  }
  .box1, .box2, .box3, .box4, .box5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .seccion1-sony img {
    height: 100px;
    width: auto;
  }
}

.body-xbox {
  background-color: #ebffeb;
}

.seccion1-xbox {
  text-align: center;
  background-color: #0b7c15;
  padding-bottom: 30px;
}

.seccion1-xbox img {
  width: auto;
  height: 200px;
}

.seccion1-xbox p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  padding: 0 50px;
}

.seccion2-xbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 50px 0;
  border-bottom: #adadad solid 2px;
}

.seccion2-xbox h1 {
  font-size: 3rem;
  padding-bottom: 20px;
  color: tomato;
}

.seccion3-xbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  font-size: 1rem;
  margin: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.seccion3-xbox img {
  height: 300px;
  width: auto;
}

.seccion3-xbox h3 {
  font-size: 3rem;
  color: #0b7c15;
  padding: 25px 0;
  border-top: 2px solid tomato;
}

.seccion3-xbox p {
  font-size: 1.2rem;
}

.seccion3-xbox .btn2 {
  font-size: 1.2rem;
  font-family: 'Kanit';
  color: white;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #fcfcfc;
  border-radius: 5px;
  background-color: tomato;
  -webkit-transition: 1s;
  transition: 1s;
}

.seccion3-xbox .btn2:hover {
  background-color: red;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 800px) {
  .seccion1-xbox img {
    height: 150px;
  }
  .seccion3-xbox img {
    height: 250px;
    width: auto;
  }
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 20px 80px;
}

.form2 {
  text-align: center;
  padding: 50px 0;
}

.seccion1-ncontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background: url("../assets/not-1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 0;
}

.seccion1-not {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion1-not h1 {
  font-size: 5rem;
  font-family: 'Roboto';
  color: white;
  border-bottom: 3px solid #13ff1f;
}

.seccion1-not p {
  font-size: 1.5rem;
  color: blanchedalmond;
  padding: 30px 0;
}

.seccion-noticias {
  margin: 60px 0;
}

.seccion-noticias h3 {
  font-size: 2rem;
  color: tomato;
  margin: 30px 0;
}

.seccion-noticias p {
  font-size: 1.1rem;
  margin: 30px 0;
}

.seccion-noticias .btn1 {
  font-size: 1.2rem;
  font-family: 'Kanit';
  color: white;
  padding: 12px;
  margin-bottom: 50px;
  border: 1px solid #fcfcfc;
  border-radius: 2px;
  background-color: #4327c2;
  -webkit-transition: 1s;
  transition: 1s;
}

.seccion-noticias .btn1:hover {
  background-color: tomato;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=styles-scss.css.map */